# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mosuc\OneDrive - Polsko-Japońska Akademia Technik Komputerowych\Kurs Java React & Spring\Projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
